[bumpversion]
current_version = 2.0.0beta2
commit = True
tag = False
parse = ^
	(?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)   # minimum 'N.N.N'
	(?:
	(?P<prerelease>alpha|beta|rc)
	(?P<build>\d+)
	)?
	$
serialize = 
	{major}.{minor}.{patch}{prerelease}{build}
	{major}.{minor}.{patch}

[bumpversion:part:prerelease]
optional_value = final
values = 
	final
	alpha
	beta
	rc
	final

[bumpversion:part:build]
first_value = 1

[bumpversion:file:qgreenland/__init__.py]
search = __version__ = 'v{current_version}'
replace = __version__ = 'v{new_version}'

[bumpversion:file:CITATION.cff]
search = version: {current_version}
replace = version: {new_version}

[bumpversion:file:CHANGELOG.md]
search = NEXT_VERSION
replace = v{new_version} ({now:%Y-%m-%d})

[bumpversion:file:doc/conf.py]
search = release = 'v{current_version}'
replace = release = 'v{new_version}'
