[flake8]
max-line-length = 90
max-complexity = 8
inline-quotes = "

# flake8-import-order
application_import_names = qgreenland
import_order_style = pycharm

# D1: Ignore errors requiring docstrings on everything.
# W503: Line breaks should occur after the binary operator to keep all variable names aligned.
# E731: Lambda assignments are OK, use your best judgement.
ignore = D1,W503,E731

# E501: Line too long. Long strings, e.g. URLs, are common in config.
# F821: Undefined name. Expected in some templates and scripts.
# FS003: f-string missing prefix. Useful for config templates.
per-file-ignores =
  qgreenland/ancillary/templates/layer_cfg.py: F821
  qgreenland/config/datasets/**/*.py: FS003, E501
  qgreenland/config/datasets/*.py: FS003, E501
  qgreenland/config/helpers/**/*.py: FS003
  qgreenland/config/layers/**/*.py: FS003, E501
  qgreenland/test/util/test_config.py: FS003
  qgreenland/test/util/test_runtime_vars.py: FS003
  scripts/qgis_examples/*.py: F821
