[flake8]
max-line-length = 90

# flake8-import-order
application_import_names = qgreenland
import_order_style = pycharm

# Ignore errors requiring docstrings on everything
# Ignore errors requiring blank line after binary operators
ignore = D1,W504
