# Only for use by ReadTheDocs build system
myst-parser==0.15.2
autodoc-pydantic ~=1.5.1
# What is this? Do we need it?
# sphinx-autodoc-typehints==1.12.0

# QGreenland dependencies for autodoc
anytree==2.8.0
